@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  --cyan: #37E6AF;
  --pink: #F90D5B;
  --grey: #B0B0B0;
  --grey2: #AAAAAA;
  --grey3: #777777;
  --black: #000;
  --black2: #262626;
  --white: #fff;
}

hr {
  border: 2px solid transparent;
  border-radius: 10px;
  width: 0; 
  transition: all linear 0.2s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif;
}

.header {
  display: flex;
  position: fixed;
  padding: 0 20px;
  top: 0;
  width: 100%;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  background: var(--black);
  z-index: 100;
}

.headerTitle > h1 {
  text-align: center;
  font-size: clamp(2rem, 5vw, 3rem);
  font-style: italic;
  font-weight: 700;
  color: var(--cyan);
}

.socialIcons > a, .loginIcon > a {
  font-size: 1.4rem;
  color: var(--white);
}

.socialIcons > a {
  margin: 0 5px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: var(--black2);
}

.loginIcon {
  margin: 0 5px;
}

.socialIcons > a:hover, .loginIcon > a:hover {
  color: var(--cyan);
  transition: all linear 0.2s;
}

.menuContainer {
  position: absolute;
  right: 0;
  margin: 0 5px;
  padding: 0 20px;
  visibility: hidden;
}

.menuContainer > i {
  font-size: 2rem;
  color: var(--white);
}

.navbar {
  position: relative;
  top: 90px;
}

.navbar > ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navbarLink > a {
  color: var(--black2);
  font-weight: 500;
}

.navbarLink > a:hover > hr {
  border-color: var(--cyan);
  width: 100%;
}

.newsSection {
  margin: 0 auto;
  position: relative;
  top: 80px;
  max-width: 1300px;
  padding: 1.2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.newsSection > * {
  flex: 1 1 20em;
}

.newsColumns {
  padding: 5px;
  width: 200px;
}

.newsColumns:nth-child(2) {
  flex-grow: 5;
}

.newsColumns > img, #trendingNews > div > img {
  width: 100%;
}

.trendingTitle {
  text-transform: uppercase;
  text-align: center;
  background: var(--pink);
  color: var(--white);
  margin-bottom: 20px;
  padding: 5px 0;
  font-weight: 500;
  font-style: italic;
}

.newsCategories > div {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.newsCategoriesLink {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
  color: var(--grey2);
  padding: 5px 10px;
}

.newsCategoriesLink:hover, .activeCategories {
  background: var(--pink);
  color: var(--white);
}

.trendingGroup {
  padding-bottom: 20px;
}

.trendingInfo, .firstInfo, .newsVideoInfo {
  display: block;
  font-size: 1.2rem;
}

.firstInfo {
  color: var(--white);
}

.newsInfo {
  display: block;
  color: var(--black);
}

.trendingInfo {
  color: var(--black);
}

.trendingCategoryDate, .firsCategoryDate, .newsCategoriesDate {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--grey3);
}

.firstGroup > img {
  width: 100%;
}

.firstGroup {
  position: relative;
}

.firstGroupText {
  width: 100%;
  position: absolute;
  padding: 10px;
  bottom: 2%;
  color: var(--white);
  background: rgba(0, 0, 0, 0.4);
}

.newsCategoriesGroup > img {
  max-width: 150px;
  width: 100%;
}

.newsCategoriesGroup {
  display: flex;
  gap: 15px;
  padding-bottom: 2rem;
}

.newsVideos {
  position: relative;
  top: 80px;
  background: var(--black2);
}

.newsVideosTitle {
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  color: var(--white);
  background: var(--pink);
  text-align: center;
  padding: 2rem;
}

.newsVideosMain {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.newsVideosMain > * {
  flex: 1 1 25em;
}

.newsVideosColumn:nth-child(1) {
  flex-grow: 10;
}

.newsVideosColumn {
  width: 300px;
}

.newsVideosColumn > video {
  width: 100%;
  height: 100%;
}

.newsVideosGroup > img {
  max-width: 150px;
  width: 100%;
}

.newsVideosGroup {
  padding: 10px 0;
}

.newsVideosColumn {
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.newsVideosGroupText {
  width: 100%;
  position: absolute;
  bottom: 10%;
  color: var(--white);
  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
}

.newsVideosGroup {
  display: flex;
  align-items: center;
  gap: 30px;
}

.newsVideosGroupTextColumnInfo {
  display: block;
}

.newsVideosGroupTextColumn {
  color: var(--white);
}

.footer {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background: var(--black);
}

.footerDesignBy {
  color: var(--white);
  margin: 0 5px;
}




@media (max-width:321px) {
  .newsCategoriesGroup, .newsVideosGroup {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:998px) {
  .socialIcons , .loginIcon {
    display: none;
  }

  .navbar {
    padding: 2rem 0;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    top: 0;
    background: var(--black2);
    border: 2px solid var(--cyan);
    z-index: 90;
  }

  .visibility {
    visibility: hidden;
  }

  .navbarLink > a {
    color: var(--white);
  }

  .navbar > ul {
    flex-direction: column;
    align-items: center;
  }

  .menuContainer {
    visibility: visible;
  }

  .newsColumns:nth-child(1) {
    order: 1;
  }

  .newsColumns:nth-child(3) {
    order: 2;
  }

  .newsCategories > div {
    background: var(--black2);
  }
}
